/* General Styles */
body, html {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    scroll-behavior: smooth;
    /* background-color: rgba(0, 0, 255, 0.082); */
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 2%;
}

/* Header Section */
.header {
    background-color: #007BFF;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-container img{
    width: 20%;
    background-color: white;
}
.header .container h1 {
    color: white;
    font-size: 24px;
}

.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.login-btn {
    background-color: #28A745;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
}

/* Search Results Styling */
.subject-search, .location-search {
    /* display: block; */
    list-style: none;
    padding: 12px 15px;
    margin: 5px;
    font-size: 16px;
    color: #333;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    transition: all 0.3s ease;
    animation: fadeIn 1s ease-out forwards;
    cursor: pointer;
}
.location-search {
    cursor: initial;
    margin: initial;
}

/* Last item should have no border */
.subject-search:last-child, .location-search:last-child {
    border-bottom: none;
}

.subject-search:hover {
    background: #007bff;
    color: white;
}

/* No Results Message */
.no-result {
    text-align: center;
    font-weight: bold;
    color: #ff3b30;
    padding: 12px;
}

.primary-btn,
.secondary-btn,
.cta .primary-btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.primary-btn {
    background-color: #007BFF;
    color: white;
}

.secondary-btn {
    background-color: #28A745;
    color: white;
}

.cta .primary-btn {
    background-color: #FFC107;
    color: #333;
}
.teacher-list-section{
    padding: 10px;
    height: 20em;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.teacher-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 20%;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.teacher-container:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 0 2px 3px #007bffad;
}
.status-container{
    display: flex;
    justify-content: right;
    width: 100%;
}
.activation-status-active{
    font-weight: bold;
    background-color: rgb(192, 253, 192);
    box-shadow: 0px 0px 20px 0px rgb(200, 255, 200);
    color: green;
    border-radius: 5px;
    padding: 2px;
}
.activation-status-inactive{
    font-weight: bold;
    color: red;
    border-radius: 5px;
    padding: 2px;
}
.Verification-status{
    border: 2px solid black;
}
.teacher-image{
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 100%;
}
.teacher-name{
    font-size: 18px;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
}

/* Hero Animation Styles */
@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Hero Section */
.hero {
    color: white;
    text-align: center;
    padding: 3% 0;
}

.hero img{
    width: 100%;
}
.hero-content {
    animation: slideInDown 1s ease-out forwards;
    opacity: 0;
}
.hero-content h2 {
    font-size: 48px;
    color: #333;
}

.hero-content p {
    color: #333;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-out forwards;
    opacity: 0;
    animation-delay: 0.5s;
}
.search-bar input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

/* .search-bar button {
    padding: 10px 20px;
    background-color: #FFC107;
    border: none;
    cursor: pointer;
} */
.cta .primary-btn {
    animation: pulse 1.5s infinite;
    animation-delay: 1s;
}

.cta .secondary-btn {
    animation: fadeIn 2s ease-out forwards;
    opacity: 0;
    animation-delay: 1.5s;
}

/* Features, How It Works, Popular Subjects, Comments, CTA */
.features,
.how-it-works,
.popular-subjects,
.comments,
.cta {
    padding: 20px 0;
    margin: 20px 0;
}

.features-grid,
.steps-grid,
.subjects-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature,
.step{
    text-align: center;
    padding: 20px;
    flex: 1 1 150px;
}

.subject-card {
    /* background-color: #f4f4f4; */
    border-radius: 10px;
    margin: 10px;
    /* padding: 10px; */
}

.comments .comment-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 25em;
    overflow-y: auto;
    scrollbar-width: none;
}

.comment {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1 1 45%;
}

.comment-form{
    margin-left: 5px;
}
.comment-form input, textarea{
    width: 60%;
    padding: 5px;
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 15px;
}

.social-icons a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

.btn-save {
    color: white;
    background: #2980b9;
}

.btn-cancel {
    background: #2980b9;
    color: white;
}


/* Responsive Styles */
@media (max-width: 480px) {
    .hero-content h2 {
        font-size: 20px;
        color: #333;
        padding: 0 2%; 
    }
    
    .hero-content p {
        color: #333;
        padding: 0 5%; 
    }
    .search-bar input {
        padding: 10px;
        margin: 5px;
        width: 160px;
    }
    
    .search-bar button {
        padding: 10px;
    }

    .subject-search, .location-search {
        font-size: 14px;
        padding: 10px;
    }

    .primary-btn,
    .secondary-btn,
    .cta .primary-btn {
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #007BFF;
        top: 70px;
        right: 0;
        width: 200px;
        text-align: right;
        padding: 20px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid white;
    }
    .login-btn{
        padding: 15px 20px;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 10px;
    }
    .teacher-list-section{
        margin-top: 20px;
    }
    .teacher-container{
        width: 40%;
    }
}