#logout-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(185, 185, 185);
    width: 280px;
    justify-content: center;
    animation: display-logout 1s;
}
#logout-text{
    margin-top: 30px;
    margin-bottom: 15px;
}
#logout-container button{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 0;
}

@keyframes display-logout{
    from{
        opacity: 10%;
    }
}